@media (max-width: 728px) {
  .ContainerSidebar {
    display: flex;
    flex-direction: column;
    background: #fff8e2;
    height: 100vh;
    width: 100%;
    padding: 15% 2%;
    align-items: center;

    .moldura {
      border: 8px #ffd95f dashed;
      width: 40%;
      margin-bottom: 5%;
      border-radius: 50%;
      padding: 1%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 90%;
        border-radius: 50%;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 2%;
      margin-top: 10%;
      width: 75%;

      li {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        padding: 2% 6%;
        border-radius: 15px;
        gap: 5%;

        &:hover {
          background: #fff;
          cursor: pointer;
        }

        img {
          width: 70%;
          height: auto;
        }
      }
    }
  }
}
