
$primary-color: #FFF8E2;
$secondary-color: #000000;
$font-family: 'inria-sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-family: $font-family;

}

h1{
    font-size: 54px;

}

h2{
    font-size: 130%;
    font-weight: 500;

}
p{
    font-size: 24px;

}

li{
    list-style: none;
    font-size: 85%;
}



@media (max-width: 728px) {
    h1{
        font-size: 42px;
    }
    h2{
        font-size: 130%;
    }
    p{
        font-size: 18px;
    }
    li{
        list-style: none;
        font-size: 100%;
    }

}
